.homepage{

    width:80%;
    margin-left:auto;
    margin-right:auto;
    
}
.homepage_article
{
    display: flex;
    justify-content: center;

}

article{

    max-width: 1100px;
    margin-top:30px;
    margin-bottom: 30px;
    line-height: 1.5em;
  
}

.homepage_header{

    margin-left: 70px;
}

.homepage_img{

    position: relative;

  width:600px;
  margin:7px;
}

.homepage_img--box{

    display:flex;
  }

  .home-img:hover{

    opacity:0.2;
  }

 





  